html,body {
    height: 100%;
}
body {
    background-image: url('/asset/background.jpg');
    background-size: 70%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
    text-align: center;
}

#login {
    padding:10px 30px;
    position: center;
    border-radius: 5px;
    color: white;
    background-color:#0d62fd;
}
#login:hover {
    background-color: #0847bbfc;
}

#chat-container {
  max-width: 600px;
  margin: 20px auto;
  background-color: #fff;
  padding: 10px 20px;
  /* border-radius: 10px; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

#chat-log {
    height: 300px;
    overflow-y: scroll;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
  }

#chat-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#chat-input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
}

#chat-send {
    padding: 10px 20px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
}
#chat-send:hover {
    background-color: #3e8e41;
  }

  @media (max-height: 600px) {
    header {
      display: none;
    }
    footer {
      display: none;
    }
    main {
      flex: 1 100vh;
    }
  }