.center {
    text-align: center;
}
.right {
    margin-left: auto;
}
body {
    background-image: url('/asset/background.jpg');
    background-size: 70%;
    margin: 0;
    padding: 0;
    /* font-family: Arial, sans-serif; */
}